<h1>【マスタ】コンテンツを検索するための情報(除外系) 詳細</h1>

<p><strong>exclud_url:</strong> <%= @m_keyword_setting.exclud_url %></p>
<p><strong>exclud_tag:</strong> <%= @m_keyword_setting.exclud_tag %></p>

<%= link_to 'Edit', edit_m_keyword_setting_path(@m_keyword_setting) %> |
<%= link_to 'Back', m_keyword_settings_path %>
