<h1>【マスタ】サービス設定 詳細</h1>

<p><strong>keyword:</strong> <%= @m_keyword.keyword %></p>
<p><strong>word:</strong> <%= @m_keyword.word %></p>

<%= link_to 'Edit', edit_m_keyword_path(@m_keyword) %> |
<%= link_to 'Back', m_keywords_path %>
